:root {
  --primary-color: #008751; /* Nigeria green */
  --secondary-color: #ffffff;
  
}
@media (max-width:600px){

    header{
    display: flex;
    background-color:var(--primary-color);
    padding: 20px;
    color: #f4f6f8;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 0;
    position: relative;
    }

    header nav{
        display: none;
        position: absolute;
        top: 0;
        right: 0;

        width: 100%;
        padding: 1rem;
        flex-direction: column;
        /* background-color: #1D4D72; */
        height: auto;
        
        /* gap: 10px; */
        background-color:var(--primary-color);
        z-index: 100;

    }
    nav #closeButton{
        display: block;
        width: 50px;
        filter:invert(100)
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header #menuButton{
        display: block;
        width: 50px;
        filter:invert(100)
    }


    .logo img{
        width: 80px;
    }
    nav.open{
    display: flex;
    }
    .hero{
        display: flex;
        flex-direction: column;
    }
    .hero h1{
    
    font-size: 20px;
    }
    .hero .about-info{
    width: 100%;
    background-color: var(--secondary-color);
    position: relative;
    bottom: 0;
    height: auto;
    opacity: 100;
    text-align: center;
    padding: 20px;
    transition: none
    }
    .facts{
        padding: 20px;
        width: 90%;
    }
    .facts h2{
    top: 0;
    text-align: center;
    left: 0;
    padding: 10px;
    font-size: 20px;
    color: var(--primary-color);
    width: 100%;
    }
    .facts .factsContainer{
    position:absolute;
    top: 50px;
    /* left: 300px; */
    border: solid 3px var(--primary-color);
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
   
    width: 100%;
    }
    #weather h2{
    font-size: 20px;
    
    }
    #weather p{
    font-size: 20px;
    }
    button {
       
        padding: 10px;
        border: 2px solid var(--primary-color);
        cursor: pointer;
        padding: 10px;
        font-size: 20px;
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }
    .culture-section h2 {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        padding: 10px;
        text-align: center;
    
    }

    /* geography page */
    .geo-hero{
        text-align: center;
        color: var(--primary-color);
    }
    .geo-hero img{
        width: 100%;
        display: block;
    }

     .gallery{
        grid-template-columns: 1fr;  /* Switch to 1 column */
        padding: 20px;
    }

    .gallery-item img{
        height: 220px;
    }

    /* culture page */
    .culture-main{
        flex-direction: column;
        padding: 20px;
    }

    .culture-gallery{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .culture-hero img{
        height: 250px;
    }

    /* contact */
    .contact-container{
        flex-direction: column;
        padding: 20px;
    }

    .contact-hero img{
        height: 220px;
    }
}