@media (min-width: 768px) {

  header nav {
    
    display: flex;
    position: none;
    flex-direction: row;
    height: auto;
    padding: 10px;
    background-color: transparent;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    gap: 50px;
    
  }

  header h2 {
    margin-bottom: 0;
  }

  main {
    max-width: 1100px;
    margin: 0 auto;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  header img{
    display: none;
  }
  nav img{
    display: none;
  }
}