body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
}

header {
    background-color: #4b2e83;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    max-width: 600px;
    margin: 2rem auto;
    background: white;
    padding: 2rem;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1rem;
}

fieldset {
    border: 1px solid #ccc;
    padding: 1rem;
}

input[type="submit"] {
    background-color: #4b2e83;
    color: white;
    border: none;
    padding: 0.75rem;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #372261;
}

footer {
    background-color: #4b2e83;
    color: white;
    text-align: center;
    padding: 1rem;
}
.review{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.review h1{
    text-align: center;
    background-color: #4b2e83;
    padding: 20px;
    color: #f4f4f9;
    width: 100%;
    
}
.review p{
    font-size: 20px;
}
.review a{
    padding: 20px;
    background-color: #4b2e83;
    color: #f4f4f9;
    text-decoration: none;
}