
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f6f8;
  color: #222;
  line-height: 1.4rem;
}

header{
    display: flex;
    background-color:  #1D4D72;
    padding: 20px;
    color: #f4f6f8;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 0;
    position: relative;
}
header h2{
    font-size: 1.6rem;
}
header img{
    width: 40px;
    position: absolute;
    right: 0;
    cursor: pointer;
    filter: invert(100%);
}
header nav{
    display: none;
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    padding: 1rem;
    flex-direction: column;
    background-color: #1D4D72;
    height: auto;
    justify-content: flex-start;
    align-items: start;
    /* gap: 10px; */

}
nav img{
    position: absolute;
    width: 40px;
    cursor: pointer;
}
nav.open{
    display: flex;
}
header nav a{
    text-decoration: none;
    color: #f4f6f8;
    font-size: 16px;
    margin-left: 0;
    padding: 10px
}
nav a:hover {
  text-decoration: underline;
}

main h1 {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: .9rem;
  
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  justify-content: center;
}

figure {
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

figure img {
  width: 100%;
  display: block;
  height: 90%; 
  object-fit: cover;
}

figcaption {
  padding: 0.75rem;
  text-align: center;
  font-weight: 500;
}




footer{
    background-color: #1D4D72;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}